.main-cont {
    background-color: black;
}

.signup-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
} 

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}