.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 100%;
  max-width: 600px;
  min-width: none;
  height: 88vh;
  margin: 0, auto;
  background-color: #000000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
  color: white;
}

.event-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.event-btn {
  background: none;
  border: 0;
  cursor: pointer;
}

/* ###################### EVENT PAGE ######################## */

.event-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0, auto;
  margin-left: 4%;
}

.text-event {
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  height: auto;
  min-height: 50px;
  background-color: #282c34;
  border: none;
  outline: none;
  color: white;
}

/* ###################### LIST ITEM ######################## */

.list-item-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  /* gap: 150px; */
  border: 1px solid rgb(243, 234, 234);
}

.list-item-container-mini {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}

.list-item h1{
  font-size: 15px;
  color: whitesmoke;
}

.list-item p{
  font-size: 15px;
  color: whitesmoke;
}